/* Define a container with a grid display */
#container {
  display: grid; /* Use CSS Grid Layout */
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
  grid-template-rows: repeat(4, minmax(100px, auto)); /* Create 4 rows, each with a minimum height of 100px and a maximum height that fits the content */
  grid-gap: 10px; /* Set the gap between grid cells to 10px */
  max-width: 960px; /* Set the maximum width of the container to 960px */
  margin: 0 auto; /* Center the container horizontally */
}

/* Define a grid for the images */
#images {
  display: grid; /* Use CSS Grid Layout */
  grid-template-columns: 3fr 3fr; /* Create 2 equal-width columns */
  grid-gap: 5px; /* Set the gap between grid cells to 5px */
}

/* Style the paragraphs inside the images */
#images p {
  border: 1px solid red; /* Set a border around the paragraphs */
  padding: 20px; /* Add padding inside the paragraphs */

}